
instademo/Gemfile.lock
instademo/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
instademo/log/*
!instademo/log/.keep
instademo/tmp
